<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" href="img/favicon_io/logo.png" type="image/gif" sizes="16x16">
    <title>Home</title>

</head>
<body>

    <div class="main-content">
        {{>header}}<br>
        <div class="container" id="main-content">
            <p class=" "> This is the home page of the test version of the TWE Application. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae, harum quas assumenda quos quam cupiditate eveniet optio maxime vero, repellendus numquam reprehenderit placeat sapiente cum laudantium iure, vitae dolore? </p>
        </div>
        <br>

        <div class="container">
            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        </div>

    </div>

</body>
</html>