<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="/users/register" method="post">
        
        <label>Name : </label>
        <input type="text" name="name" placeholder="Name"><br><br>
        <label>Email : </label>
        <input type="text" name="email" placeholder="Email"><br><br>
        <label>Password : </label>
        <input type="text" name="password" placeholder="Password"><br><br>
        <label>Department : </label>
        <input type="text" name="department" placeholder="Password"><br><br>
        <input type="submit" value="signup">
    </form>
</body>
</html>