<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">THEPC</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/signup">Signup</a>
      </li>
    </ul>
  </nav>  
  
  <div class="container-fluid" style="margin-top:80px">
    <h1>Check your email for the reset password link.</h1>
  </div>
  
  
  